<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.appcelerator.titanium.mobile.ui.ios.simulator.launchConfigurationType">
<stringAttribute key="ATTR_PROJECT_NAME" value="Wunderland Weather App"/>
<stringAttribute key="device_id" value="24DB4705-5707-46DD-AF62-C4FB399939F8"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Wunderland Weather App"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="process_factory_id" value="com.appcelerator.titanium.ui.logLevelFilteringProcessFactory"/>
<stringAttribute key="sdk_version" value="8.3"/>
<stringAttribute key="simulator_version" value="8.3"/>
</launchConfiguration>
