<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.appcelerator.titanium.mobile.ui.android.simulator.launchConfigurationType">
<stringAttribute key="ATTR_PROJECT_NAME" value="Wunderland Weather App"/>
<stringAttribute key="abi" value="armeabi-v7a"/>
<stringAttribute key="device-id" value="HTC One - Android 4.4.4 HD"/>
<stringAttribute key="key_password" value=""/>
<stringAttribute key="keystore_alias" value=""/>
<stringAttribute key="keystore_password" value=""/>
<stringAttribute key="keystore_path" value=""/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Wunderland Weather App"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="process_factory_id" value="com.appcelerator.titanium.mobile.ui.androidLogLevelFilteringProcessFactory"/>
<stringAttribute key="screen_type" value="HVGA"/>
<stringAttribute key="sdk_version" value="4.0"/>
</launchConfiguration>
